body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura de la ventana gráfica */
    margin: 0; /* Elimina el margen predeterminado del body */
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
